@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

#add-product-form {
  position: relative;
  padding: 10px;
  background-color: rgb(244, 244, 244);
  width: 400px;
  margin: 20px;
  box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#add-product-form > h3 {
  border-bottom: 1px solid;
}

#add-product-form .form-element:nth-child(3) > .element > input {
  width: 60px;
}

#add-product-form .form-element:nth-child(5) > .element > input {
  width: 60px;
}

.form-element {
  position: relative;
  margin: 10px;
}

.form-element > .label {
  position: relative;
  width: 140px;
  font-size: 12px;
  height: 10px;
  display: inline-block;
}

.form-element > .element {
  position: relative;
  width: 100px;
  display: inline-block;
}

.products {
  position: relative;
  top: 20px;
  padding: 20px;
  margin: 10px;
}

.product {
  position: relative;
  background-color: rgb(229, 229, 229);
  padding: 10px;
  display: block;
  margin-top: 2px;
  width: 800px;
}

.product > .name {
  position: relative;
  width: 365px;
  display: inline-block;
}

.product > .cost {
  position: relative;
  width: 80px;
  text-align: center;
  display: inline-block;
}

.product > .quantity {
  position: relative;
  width: 100px;
  text-align: center;
  display: inline-block;
}

.product > .stock-cost {
  position: relative;
  width: 90px;
  text-align: center;
  display: inline-block;
}

.product > .view-description {
  position: relative;
  width: 90px;
  text-align: center;
  display: inline-block;
}

.product > .buy-btn {
  position: relative;
  width: 50px;
  text-align: center;
  display: inline-block;
}
